body{
    font-family: 'Alfa Slab One', cursive;
} 


.image-of-me{
    top: 40%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

    
    
}


.image-of-me-foto{
    padding: 5%;
    
}

.image-of-me-center:hover{
    transition: 200ms;
    
    height: 310px;
}

.image-of-me-center{
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
border-radius:100%;
height: 300px;
transition: 200ms;
}

.image-of-me-text{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    border-radius: 10px;
    padding: 20px;


}

@media(max-width:480px){
    .image-of-me{
        display: block;


    }

    
}

.cubo{
    
    height: auto;
    width: 100%;
    border-radius: 20px;

}

.up{
    color: black;
    text-decoration: none;
    padding: 20px;
    float: right;
    transition: 200ms;
    font-size: 23px;

}

.up:hover{
    font-size: 27px;
    
}

.cubo-2{
    position: relative;
    left: 50%;
    border-radius: 30px;
    background-color: hsla(0, 0%, 100%, 0);
    width: 50%;
    height: 30px;
}

@media (max-width:480px){
    .cubo-2{
        position: relative;
        left: 0%;
        border-radius: 30px;
        background-color: hsla(0, 0%, 100%, 0);
        width: 100%;
        height: 20px;
        top: 10px;
    }

    .up{
        color: black;
        text-decoration: none;
        padding: 10px;
        float: right;
        transition: 200ms;
        font-size:9px;
    }

    .up:hover{
        font-size: 9px;
        
    }
}





.cubo-3{
    background-image: linear-gradient(to right, #4d8b9b 0%, #ca56f8 100%);
    -webkit-box-shadow: inset 0px -15px 93px -38px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -15px 93px -38px rgba(0,0,0,0.75);
box-shadow: inset 0px -15px 93px -38px rgba(0,0,0,0.75);
    position: relative;
    height: 400px;
    width: 100%;
    top:-40px ;

}

@media(max-width:480px){
    .cubo-3{
        height:200px;

    }
}

.LOGO-1{
    position: absolute;
    left: 30px;
    top:30px;
    

}



.clip-1{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 70%;
    padding: 30px;
    position: relative;
    top: 200px;
    left: 10%;
    align-items: center;
}

.image-1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.788);
    height: 75%;
    width: 55%;
    border-radius: 20px;

}

.text{
    
    color: aliceblue;
    position: absolute;
    left: 65%;
    height: 400px;
    width:35%;
    top: 30px;

}


.images{
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    border-radius: 10px;
    margin: 30px;
    height: auto;
    width: auto;
    position: relative;
    padding: 30px;
    top: 100px;
    animation-name: images-animation;
    animation-duration: 5s;
}

@keyframes images-animation {
    0%{top:-100px;}
}

.img-cube{
    height: 250px;
    padding: 10px;
    border-radius: 20px;


}

.video-design{
    
    border: 20px;
    
}

.text-AlleStudio{
    color: rgb(255, 255, 255);
    font-size: 105px;
    text-align: center;
    position: relative;
    top: 100px;
    animation-name: AlleStudio;
    animation-duration: 2s;
}

@media(max-width:480px){
    .text-AlleStudio{
        font-size:45px;
        top: 70px;
        
        animation-duration: 0s;
    }

}



@keyframes AlleStudio {
    0%{font-size: 100px;}
    100%{font-size: 105px;}
}

.design-text{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: -30px;
}
.lennguajes{
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  } 


    


.cubos-de-informacion-lennguajes{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
height: 150px;
width: 200px;
margin: 20px;
padding: 10px;
border-radius: 20px;
    
}

.image-informacion-cubo{
    background-color: black;
    height: 200px;

    
}



.icon-of-information{
    height: 98%;
    position: relative;
    left: 30px;
    
}


.programs-text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3cm;

}

.programs-text-center p{
    font-size: 30px;
}

.decoration-of-licencia{
    background-color: black;
    height: 50px;
    width: 100%;
    position:relative;
    top: 200px;

}

.decoration-of-licencia p{
    color: white;
    margin: 20px;
    position: relative;
    top: 15px;
    
}

.img-redsocial{
    height: 100px;
    padding: 30px;

}

.red-social-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;

}